@import "tailwindcss";

/* Box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove espaçamentos padrão */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
}

/* Imagens */
img,
picture,
svg,
canvas {
  display: block;
  max-width: 100%;
}

/* Formulários — apenas estrutura */
button,
input,
textarea,
select {
  margin: 0;
}

/* Botões */
button {
  cursor: pointer;
}

/* Tabelas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fieldsets */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Citações */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}